<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bo.sims.dao.SupplierMapper">

    <insert id="saveSupplier" parameterType="com.bo.sims.pojo.Supplier">

        insert into `t_supplier`(`name`,`address`,`contact`) values (#{name},#{address},#{contact});

    </insert>


    <update id="updateSupplier" parameterType="com.bo.sims.pojo.Supplier">

        update `t_supplier` set `name` = #{name} , `address` = #{address} , `contact` = #{contact} where `id` = #{id};

    </update>

</mapper>