<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

</head>
<body>


<!--    导航-->
<nav th:fragment="menu(n)" class="ui inverted attached segment me-padded-tb-tiny me-shadow-small me-segment-border-none">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui header blue item">超市进销存管理系统</h2>
            <a href="#" th:href="@{/admin/bill/payment}" class="m-item item me-mobile-hide" th:classappend="${n==1}?active"><i class="laptop icon"></i>前台结账</a>
            <a href="#" th:href="@{/admin/dailyAccounts}" class="m-item item me-mobile-hide" th:classappend="${n==2}?active"><i class="dollar sign icon"></i>账目日结</a>
            <a href="#" th:href="@{/admin/goods}" class="m-item item me-mobile-hide" th:classappend="${n==3}?active"><i class="boxes icon"></i>商品管理</a>
            <a href="#" th:href="@{/admin/supplier}" class="m-item item me-mobile-hide" th:classappend="${n==4}?active"><i class="dolly flatbed icon"></i>供应商管理</a>
            <div class="right m-item me-mobile-hide menu">
                <div class="ui dropdown item">
                    <div class="text">
                        <span th:text="${session.user.username}"></span>
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" th:href="@{/admin/logout}" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>


</body>
</html>